body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    background-color: #1F2937;
    font-size: 32px;
    color: #F9FAF8;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    padding-left: 150px;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 300px;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 100px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 780px;
    padding-top: 80px;
}

.sub-text1 {
    color: #F9FAF8;
    padding-top: 10px;
}

.small-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    border-radius: 6px;
    border: none;
    padding: 10px;
    background-color: #3882F6;
    padding-left: 30px;
    padding-right: 30px;
}

.button1 {
    color: aqua;
    padding-top: 20px;
}

.button1-text {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

.image-container {
    display: flex;
    justify-content: center;
}

.main-image {
    max-width: 750px;
    max-height: auto;
    border: solid black 2px;
    margin-top: 40px;
}

.info-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 10px;
}

.examples {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.placeholder {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder-text {
    font-size: 30px;
    font-weight: bold;
    color:#1F2937;
    text-align: center;
}

.morepadding {
    
}

.placeholder-subtext {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-right: 75px;
    margin-left: 75px;
}

.placeholder-image {
    height: 250px;
    width: 250px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

.from {
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}